.topContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    height: auto;
    text-align: center;
}

.takePictureID {
    border-top: 1px solid gray;
    width: 85%;
    margin-left: 7.5%;
    background: transparent;
}