$grey: #616070;
$or: #ab8b65;
$black: #2c2f33;
$red: #fd6960;
$blanc: #f4f6f7;
.dateLabelWrapper {
    margin-left: 5%;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
    border-bottom: 1px solid #6969694b;
    margin-bottom: 10px;
}

.dateLabelText {
    padding-top: 7px;
    color: #494949;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.wrapper {
    display: flex;
    flex-direction: column;
    padding: 3px 0;
    h3 {
        margin-left: 5%;
    }
}

.cardLabel {
    margin-left: 5px;
}

.iconClass {
    font-size: 15px;
}

span {
    color: #f4f6f7;
}

.flexWrapper {
    display: flex;
    justify-content: space-between;
}

.list-md {
    background: unset;
}