$grey: #616070;
$or: #ab8b65;
$black: #2c2f33;
$red: #fd6960;
$fonts: ( material: "Roboto", ionic: "Open Sans", );
@mixin font($val) {
    font-family: map-get($fonts, $val);
}

$colors: ( primary: #ab8b65, );
ion-content {
    // --background: none;
    // background-image: url("../../assets/img/bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    max-width: 400px;
    img {
        width: 80%;
        margin: auto;
        padding-top: 50px;
    }
    span {
        display: block;
        margin: auto;
        border-radius: 20px;
        width: 85%;
        height: 1px;
        margin-top: 30px;
    }
}

ion-button {
    display: block;
    width: 50%;
}

.errorBox {
    background-color: rgba(255, 0, 0, 0.438);
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin-top: 20px;
}

input {
    background: transparent;
}

.form {
    width: 80%;
    margin-left: 10%;
    .group {
        position: relative;
        width: 100%;
        margin-bottom: 2rem;
        &.-material {
            >.field {
                @include font(material);
                height: 2.8rem;
                border-bottom: 1px solid #9e9e9e;
                &:focus,
                &:valid {
                    border-bottom: 2px solid map-get($colors, primary);
                    +.title {
                        top: -2px;
                        color: map-get($colors, primary);
                    }
                }
                +.title {
                    @include font(material);
                    left: 0;
                }
            }
        }
        >.field {
            width: 100%;
            border: 0;
            outline: none;
            +.title {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #9e9e9e;
                transition: 0.3s;
                font-size: 0.9rem;
                pointer-events: none;
            }
            &:focus,
            &:valid {
                +.title {
                    transition: 0.3s;
                    font-size: 0.75rem;
                }
            }
        }
    }
}