<ion-content>
    <div class="block m-auto">
        <img src="../../assets/img/logo.png" alt="LMAP_logo" />
        <span></span>
        <form (ngSubmit)="logForm()">
            <ion-input placeholder="Username" type="text" name="username" [(ngModel)]="user.email" required class="inputStyle"></ion-input>
            <ion-input placeholder="Passeword" type="password" name="pwd" [(ngModel)]="user.password" required></ion-input>

            <ion-button type="submit" shape="round" color="primary" class="m-auto">
                Connect
            </ion-button>

            <div *ngIf="isError === true" class="errorBox">
                <p>{{loginErr}}</p>
            </div>
        </form>
    </div>
</ion-content>