<div class="cardContainer">
  <div class="firstLine">
    <div class="title">
      <ion-icon style="margin-right: 5px;" name="calendar"></ion-icon>
      <!-- {{ sessionData.date }} -->
      <p>06/98/0298 At 8PM</p>
    </div>
    <div class="expandButton" (click)="expand = !expand">
      <ion-icon *ngIf="expand === false" name="arrow-down"></ion-icon>
      <ion-icon *ngIf="expand === true" name="arrow-up"></ion-icon>
    </div>
  </div>

  <div class="hiddenContent" *ngIf="expand === true">
    <div class="localisation">
      <ion-icon name="navigate-outline"></ion-icon>
      <p>PULV, 12 Avenue Leonard de Vinci</p>
    </div>
    <div class="infoUser">
      <span>22</span>
      <ion-icon name="people-outline"></ion-icon>
    </div>
  </div>
</div>
