<div class="cardContainer">
    <div class="firstLine" (click)="expand = !expand">
        <div class="title">
            <ion-icon style="margin-right: 5px;" name="barcode-outline"></ion-icon>
            <p>
                {{ session.name | uppercase }} - {{ session.convocation_time }}
            </p>
        </div>
        <div class="expandButton">
            <ion-icon *ngIf="expand === false" name="arrow-down"></ion-icon>
            <ion-icon *ngIf="expand === true" name="arrow-up"></ion-icon>
        </div>
    </div>


    <div class="hiddenContent" [ngClass]="{
      reveal: expand
    }">
        <div class="localisation">
            <ion-icon name="navigate-outline"></ion-icon>
            <p class="addressText">
                {{ session.address }}, {{session.zip_code}} {{session.city | uppercase}}
            </p>
        </div>
        <div class="roomData">
            <p>
                <b>ROOM NAME :</b> {{session.room_name}}
            </p>
            <p>
                <b>ROOM CAPACITY :</b> {{session.room_max_capacity}}
            </p>
        </div>

    <ion-button
      shape="round"
      color="primary"
      (click)="toSession(session.id)"
      class="m-auto"
    >
      See more
    </ion-button>
  </div>
</div>

