.signature-pad {
    margin:0 auto;
    width:350px;
    height:200px;
    background:#fff;
    border-radius: 8px;
    border: 1px dashed gray;
  }

  .actionContainer {
      display: flex;
      justify-content: space-between;
  }

  .previewFile {
      width:90%;
      margin-left:5%;
      img {
        margin-top:25px;
        border-radius: 20px;
        box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.432); 
      }
  }