<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="logOut()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <img src="../../assets/img/logo.png" alt="picture_profile" />

    <ion-grid>
      <ion-row>
        <ion-col>
          <label>TEST CENTER NAME :</label>
          <span>dfedfefe</span>
          <input type="text" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <label>EMAIL :</label>
          <span>dqqdqdqdqdqdqdqd</span>
          <input type="text" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <label>FIRST NAME :</label>
          <span>qdqdqdq</span>
          <input type="text" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <label>LAST NAME :</label>
          <span>qdqdqdq</span>
          <input type="text" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <label>PHONE NUMBER :</label>
          <span>032190928492</span>
          <input type="tel" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button (click)="edit()">
      Editer
    </ion-button>
  </div>
</ion-content>
