<ion-content>

    <div class="block m-auto">
        <img src="../../assets/img/logo.png" alt="LMAP_logo">

        <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit id quia veniam maiores consequuntur ex voluptates qui ullam voluptatum? Corporis tempora nihil incidunt commodi? Eum suscipit in voluptatibus? Sunt, atque.
        </p>

        <ion-button shape="round" 
        color="primary"
        (click)="toLogin()"
        class="m-auto">
            Login
        </ion-button>
    </div>
</ion-content>

