$grey: #616070;
$or: #ab8b65;
$black: #2c2f33;
$red: #fd6960;
$blanc: #f4f6f7;

ion-content {
  --background: none;
  background-image: url("../../assets/img/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  max-width: 400px;

  img {
    width: 80%;
    margin: auto;
    padding-top: 50px;
  }
}
p {
  padding: 20% 10%;
  color: $grey;
}

ion-button {
  display: block;
  width: 50%;
}
